* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #D2E8CC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.profile-section {
    text-align: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-section h2 {
    font-size: 1.2rem;
    color: #333;
}

.logo-section {
    margin-bottom: 20px;
}

.logo {
    width: 100px;
}

.back-button {
    align-self: flex-start;
    padding-left: 20px;
}

.back-arrow {
    width: 40px;
}

.main-content {
    width: 80%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 40px;
    font-size: 1.8rem;
}

form {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: 45%;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #EFEFEF;
}

.save-button {
    background-color: #B5D8A3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}


.home-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
}

.inativar-button {
    background-color: #c6e2b3;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.inativar-button:hover {
    background-color: #c6e2b3;
}